{layout name="public:layout" /}


<h3 class="text-center text-success">用户列表</h3>

<table class="table table-default table-hover text-center">

    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>邮箱</td>
        <td>手机号</td>
        <td>注册时间</td>
        <td>状态</td>
        <td>权限</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="userlist" id="user" empty="$empty"}
    <tr>
        <td>{$user.id}</td>
        <td>{$user.name}</td>
        <td>{$user.email}</td>
        <td>{$user.mobile}</td>
        <td>{$user.create_time}</td>
        <td>{$user.status}</td>
        <td>{$user.is_admin|getIsAdminAttr}</td>
        <!--非当前用户是不能编辑其他用户的 用户的当前的ID和session里的ID相等才能编辑-->
        {eq name="$user.id" value="$Think.session.user_id"}
        <td><a href="{:url('user/userEdit',['id'=>$user.id])}">编辑</a></td>
        {/eq}

        <!--当前用户不是自己就显示删除，是自己的就不显示删除了不能自己删除自己-->
        {neq name="$user.id" value="$Think.session.user_id"}
        <td><a href="" onclick="dele({$user.id});return false">删除</a></td>
        {/neq}
    </tr>

    {/volist}


</table>


<script>
  function dele(id) {
      if(confirm('你是要真的删除吗？') == true){

          //跳转到删除方法
          window.location.href = "{:url('user/doDelete')}"+"?id="+id;
      }
  }
</script>